.body {
    display: flex;
    width: 100%;
}

.header-pagination {
    width: 100%;
    transition: width 0.5s;
}

.date-filter-parent {
    width: 20%;
    position: absolute;
    right: -20%;
    transition: width 0.5s;
}

.header-pagination.active{
    width: 80%;
    transition: width 0.5s;
}


.date-filter-parent.active{
    width: 20%;
    position: absolute;
    right: 0;
    transition: width 0.5s;
}

th {
    display: table-cell;
    padding: 14px 40px 14px 16px;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.3125rem;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.12);
}

td {
    padding: 14px 40px 14px 16px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.12);
}

thead {
    border-color: gray;
    border: 1px solid gray;
}

table {
    width: 100%;
}

.table { 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}

.MuiPaper-elevation1 {
    margin: 16px 16px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.inactive {
    color: red;
}

.checkmark.active {
    stroke: white;
    width: 14px;
    height: 14px;
    stroke-width: 4px;
    margin: 0;
    background-color: rgb(0, 128, 32);
}

body {
    margin: 0;
}